.form-wrapper{
  position: relative;
  width: 95%;
  .large-form{

    width: 100%;
    margin: 25px 0;

    .large-form-list{
      list-style: none;
    }

    .form-progress{
      font-size: 38px;
      margin: 10% 0;
      display: inline-block;
    }

    .prev,.next{
      display: inline-block;
      margin: 10% 1.5%;
      font-size: 32px;
    }
  }

  .form-continue{
    cursor: pointer;
    position: absolute;
    bottom: 75px;
    right: 75px;
    font-size: 28px;
    border: 2px solid #222222;
    border-radius: 4px;
    outline: none;
    padding: 10px 16px;

    &:after{
      content: 'or press Enter';
      color: #858585;
      font-size: 16px;
      display: block;
      margin: 3px;
    }
  }

  .result{
    position: absolute;
    width: 25%;
    top: 0;
    right: 0;
    border: 1px solid #ddd;

    &.expand-true{
      width: 95%;
      min-height: 300px;
    }

    .heading{
      margin: 2% 10%;
    }

    .result-item{
      display: block;

      .result-label {
        display: inline-block;
        font-size: 22px;
        color: #b3b3b3;
        padding: 12px 5px;
        &:after{
          content: ':';
        }
      }

      .result-value{
        border: none;
        outline: none;
        display: inline-block;
        font-size: 18px;
        background: transparent;
        padding: 6px 5px;
      }
    }

    .result-submit{
      cursor: pointer;
      border: none;
      outline: none;
      width: 100%;
      display: block;
      background: #87ef7a;
      font-size: 16px;
      font-weight: bold;
      text-align: center;
      padding: 4px 8px;
    }
  }
}